body {
    background-color: #a7ddf3;
  }
  h1 {
    font-size: 34px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: rgb(224, 18, 36);
  }
  h2 {
    font-family: "Monoton", cursive;
    font-size: 45px;
    color: rgb(243, 75, 9);
    text-align: center;
  }
  h3 {
    font-family: "Monoton", cursive;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    color: rgba(91, 10, 241, 0.561);
  }
  .float canvas {
    padding-left: 50px;
  }
  .WeatherTemperature {
    position: relative;
    padding-left: 35px;
    font-size: 55px;
  }
  
  i {
    color: rgb(29, 230, 106);
  }
  
  .unit {
    color: rgb(235, 111, 102);
    cursor: default;
    font-size: 25px;
  }
  
  .Weather.unit:hover {
    text-decoration: none;
  }
  
  li {
    display: flex;
    padding-left: 110px;
    color: rgb(245, 10, 10);
    list-style: none;
    font-family: "Courier New", cursive;
  }
  
  .box {
    display: block;
    max-width: 400px;
    margin: 200px auto;
    margin-bottom: 20px;
    padding: 30px 1px;
    background-image: url(https://image.freepik.com/free-vector/cloudy-blue-background_53876-82143.jpg);
    border: 2px solid #b85818;
    border-radius: 12px;
    box-shadow: 10px 5px 8px #228588c0;
  }
  
  .App footer {
    margin: 20px 0;
    font-size: 12px;
    font-family: "Courier New", cursive;
    text-align: center;
  }
  