.WeatherForecast {
    text-align: center;
    margin: 50px 0;
    font-family: "Monoton", cursive;
    color: hsl(236, 96%, 50%);
  }
  
  .WeatherForecast canvas {
    display: flex;
    width: 50px;
    color: hsl(12, 83%, 50%);
  }
  